<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../common/css/icons.css">
    <link rel="stylesheet" href="./default.css">
</head>
<body>
    <div class="card">
        <div class="header">
            <i class="icon fire-mono"></i>
            FIRE<br/>
            (Formative Interaction and Rapid Evaluation)
        </div>
        <div class="body">
            
        </div>
        <div class="footer">
            Take care of this position marker. It triggers your attendance.
        </div>
    </div>
    <div class="card">
        <div class="header">
            <i class="icon fire-mono"></i>
            FIRE<br/>
            (Formative Interaction and Rapid Evaluation)
        </div>
        <div class="body">
            
        </div>
        <div class="footer">
            Take care of this position marker. It triggers your attendance.
        </div>
    </div>
</body>
</html>